/*header*/
.header {
    background-color: black;
    background-size: cover;
    height: 100vh;
}

@keyframes slideIn {
    0% {
        transform: translateZ(-100%);
        opacity: 0;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.titre__h1 {
    display: flex;
    margin-left: 35px;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 62px;
    font-weight: 300;
    color: white;
    padding-top: 200px;
    margin-top: 0;
    animation: slideIn 3s .2s forwards;

}

.orange {
    padding-top: 200px;
    color: #D9C39A;


}




/* images*/

.chienNoir {
    width: 360px;
    height: 407px;
    margin: 0 auto;
    display: flex;
}



/* NAV */
.menu {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    /* Padding à modifier ? */
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.menu__liste {
    list-style: none;
    padding: 0;
    display: flex;
    /* Gap à modifier ? */
    gap: 45px;
    margin: 0;
}

.menu__el {
    margin-bottom: 0;
}

.menu__el a {
    font-family: 'Italiana', serif;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 25px;
}

.menu__el a::before {
    position: absolute;
    content: '';
    width: 100%;
    /* Couleru et hauteur à changer ? */
    height: 2px;
    background-color: #D9C39A;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.menu__el a:hover::before,
.menu__el a:focus::before,
.menu__el--active a::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu__el--0 {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Burger Menu*/
@media (max-width: 1019px) {
    html {
        /* En fonction de la taille du burger + padding ? */
        scroll-padding-top: 45px;
    }

    .menu__burger {
        cursor: pointer;
        z-index: 150;
        margin-left: auto;
        padding: 0;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
    }

    .menu__svg {
        /* Width et height à changer ? */
        width: 59px;
        height: 44px;
        fill: none;
        stroke: #D9C39A;
        stroke-width: 3px;
        transition: stroke 1s;
    }

    .menu {
        position: fixed;
        background-color: transparent;
        /* Changer le padding ? */
    }

    .menu__liste {
        position: fixed;
        top: -100%;
        margin: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #404040;
        transition: all 0.5s;

        display: flex;
        flex-direction: column;
        align-items: center;
        /* Changer le gap ? */
        gap: 50px;
        box-sizing: border-box;
        /* Padding top à changer ? */
        padding-top: 100px;
    }

    .menu__el a {
        /* Font size à changer ? */
        font-size: 50px;
    }

    .menu--open .menu__liste {
        transform: translateY(100%);
    }
}



/* Tablette */
@media (min-width: 768px) {
    .titre__h1 {
        display: flex;
        margin-left: 220px;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 62px;
        font-weight: 300;
        color: white;
        padding-top: 200px;
        padding-bottom: 50px;
        margin-top: 0;
        animation: slideIn 3s .2s forwards;

    }

    .orange {
        padding-top: 200px;
        color: #D9C39A;


    }

    .chienNoir {
        width: 390px;
        height: 440px;
        margin: 0 auto;
        display: flex;

    }

}


@media (min-width: 1019px) {
    .menu__burger {
        display: none;
    }
}

@media (min-width: 1020px) {
    .menu__burger {
        display: none;
    }



    .titre__h1 {
        position: absolute;
        z-index: 1;
        display: flex;
        margin-left: 50px;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 108px;
        font-weight: 300;
        color: white;
        padding-top: 200px;
        padding-bottom: 50px;
        margin-top: 0;
        animation: slideIn 3s .2s forwards;

    }

    .orange {
        padding-top: 200px;
        color: #D9C39A;


    }

    /* images*/

    .chienNoir {
        position: absolute;
        left: 50%;
        top: 6%;
    }
}

@media (min-width: 1280px) {
    .chienNoir {
        position: absolute;
        width: 450px;
        height: 508px;
        left: 55%;
        top: 10%;
    }


    .titre__h1 {
        position: absolute;
        z-index: 1;
        display: flex;
        margin-left: 20px;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 158px;
        font-weight: 300;
        color: white;
        padding-top: 200px;
        padding-bottom: 50px;
        margin-top: 0;
        animation: slideIn 3s .2s forwards;

    }

    .orange {
        padding-top: 200px;
        color: #D9C39A;


    }
}

@media (min-width: 1400px) {
    .titre__h1 {
        position: absolute;
        z-index: 1;
        display: flex;
        margin-left: 50px;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 158px;
        font-weight: 300;
        color: white;
        padding-top: 200px;
        padding-bottom: 50px;
        margin-top: 0;
        animation: slideIn 3s .2s forwards;

    }

    .orange {
        padding-top: 200px;
        color: #D9C39A;


    }

    .chienNoir {
        position: absolute;
        width: 450px;
        height: 508px;
        left: 55%;
        top: 10%;
    }

}

@media (min-width: 1450px) {
    .titre__h1 {
        position: absolute;
        z-index: 1;
        display: flex;
        margin-left: 70px;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 158px;
        font-weight: 300;
        color: white;
        padding-top: 200px;
        padding-bottom: 50px;
        margin-top: 0;
        animation: slideIn 3s .2s forwards;

    }

    .orange {
        padding-top: 200px;
        color: #D9C39A;


    }

    .chienNoir {
        position: absolute;
        width: 450px;
        height: 508px;
        left: 60%;
        top: 10%;
    }
}


@media (min-width: 1600px) {
    .chienNoir {
        position: absolute;
        width: 763px;
        height: 862px;
        left: 51%;
        top: 0%;
    }

    .titre__h1 {
        position: absolute;
        z-index: 1;
        display: flex;
        margin-left: 100px;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 158px;
        font-weight: 300;
        color: white;
        padding-top: 300px;
        padding-bottom: 50px;
        margin-top: 0;
        animation: slideIn 3s .2s forwards;

    }

    .orange {
        padding-top: 300px;
        color: #D9C39A;


    }

}

@media (min-width: 1920px) {
    .chienNoir {
        position: absolute;
        width: 763px;
        height: 862px;
        left: 51%;
        top: 7%;
    }


    .titre__h1 {
        position: absolute;
        z-index: 1;
        display: flex;
        margin-left: 260px;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 158px;
        font-weight: 300;
        color: white;
        padding-top: 370px;
        padding-bottom: 50px;
        margin-top: 0;
        animation: slideIn 3s .2s forwards;

    }

    .orange {
        padding-top: 370px;
        color: #D9C39A;


    }


}