/*header*/
.header {
    background-color: black;
    background-size: cover;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 62px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 150px;

}

.orange {
    color: #D9C39A;
}

/* images*/

.chienNoir {
    width: 390px;
    height: 440px;
}

/* Tablette */
@media (min-width: 768px) {
    h1 {
        font-family: 'Italiana', serif;
        font-size: 68px;
        position: relative;
        text-align: left;
        margin-left: 100px;
        padding-top: 240px;
        margin-bottom: 0;
        padding-bottom: 25px;

    }

    .chienNoir {
        width: 480px;
        height: 542px;
        position: relative;
        left: 35%;
    }

}