/*header*/
.header {
    background-color: black;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 62px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 150px;

}

.orange {
    color: #D9C39A;
}

/* images*/

.chienNoir {
    width: 390px;
    height: 440px;
}



/* NAV */
.menu {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    /* Padding à modifier ? */
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.menu__liste {
    list-style: none;
    padding: 0;
    display: flex;
    /* Gap à modifier ? */
    gap: 45px;
    margin: 0;
}

.menu__el {
    margin-bottom: 0;
}

.menu__el a {
    font-family: 'Italiana', serif;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 25px;
}

.menu__el a::before {
    position: absolute;
    content: '';
    width: 100%;
    /* Couleru et hauteur à changer ? */
    height: 2px;
    background-color: #D9C39A;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.menu__el a:hover::before,
.menu__el a:focus::before,
.menu__el--active a::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu__el--0 {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Burger Menu*/
@media (max-width: 1019px) {
    html {
        /* En fonction de la taille du burger + padding ? */
        scroll-padding-top: 45px;
    }

    .menu__burger {
        cursor: pointer;
        z-index: 150;
        margin-left: auto;
        padding: 0;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
    }

    .menu__svg {
        /* Width et height à changer ? */
        width: 59px;
        height: 44px;
        fill: none;
        stroke: #D9C39A;
        stroke-width: 3px;
        transition: stroke 1s;
    }

    .menu {
        position: fixed;
        background-color: transparent;
        /* Changer le padding ? */
    }

    .menu__liste {
        position: fixed;
        top: -100%;
        margin: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #404040;
        transition: all 0.5s;

        display: flex;
        flex-direction: column;
        align-items: center;
        /* Changer le gap ? */
        gap: 50px;
        box-sizing: border-box;
        /* Padding top à changer ? */
        padding-top: 100px;
    }

    .menu__el a {
        /* Font size à changer ? */
        font-size: 50px;
    }

    .menu--open .menu__liste {
        transform: translateY(100%);
    }
}

/* Tablette */
@media (min-width: 768px) {
    h1 {
        font-family: 'Italiana', serif;
        font-size: 68px;
        position: relative;
        text-align: left;
        margin-left: 100px;
        padding-top: 240px;
        margin-bottom: 0;
        padding-bottom: 25px;

    }

    .chienNoir {
        width: 480px;
        height: 542px;
        position: relative;
        left: 35%;
    }

}


@media (min-width: 1019px) {
    .menu__burger {
        display: none;
    }
}

@media (min-width: 1020px) {
    .menu__burger {
        display: none;
    }



    h1 {
        font-family: 'Italiana', serif;
        font-size: 108px;
        position: absolute;
        z-index: 1;
        padding-top: 200px;
        margin-left: 50px;

    }

    /* images*/

    .chienNoir {
        position: absolute;
        left: 50%;
        top: 6%;
    }
}

@media (min-width: 1280px) {
    .chienNoir {
        position: absolute;
        width: 625px;
        height: 706px;
        left: 50%;
        top: 1%;
    }

    h1 {
        font-family: 'Italiana', serif;
        font-size: 158px;
        position: absolute;
        z-index: 1;
        padding-top: 200px;
        margin-left: 20px;

    }
}

@media (min-width: 1600px) {
    .chienNoir {
        position: absolute;
        width: 763px;
        height: 862px;
        left: 51%;
        top: 0%;
    }

    h1 {
        padding-top: 280px;
        margin-left: 130px;
    }

}

@media (min-width: 1920px) {
    .chienNoir {
        position: absolute;
        width: 900px;
        height: 1017px;
        left: 51%;
        top: 7%;
    }

    h1 {
        padding-top: 430px;
        margin-left: 260px;
    }


}