/*Section Interview*/

.interview{
    background-color: #404040;
    margin-bottom: 55px;
}
.titre__interview{
    color: white;
}
.numero{
   font-family:'Italiana', serif;
   color: #D9C39A;
   font-size: 280px;
   opacity: 50%; 
}
