/*Section Interview*/

.interview {
    background-color: #404040;
    padding-bottom: 65px;
    padding-top: 5px;


}

.titre__interview {
    color: white;

}

.num__question {
    position: relative;
    padding-top: 114px;

    .numero {
        font-family: 'Italiana', serif;
        color: #D9C39A;
        font-size: 280px;
        opacity: 50%;
        position: absolute;
        margin-left: 15px;
        top: 0;
        padding: 0;
        line-height: 0.7;
    }

    .question {
        position: relative;
        font-size: 29px;
        font-weight: 600;
        color: white;

    }
}

.guillemet {
    width: 75px;
    margin-left: 25px;
    fill: #D9C39A;
}

.barLeft {
    background-color: #D9C39A;
    width: 140px;
    height: 5px;
    margin-top: 100px;
    margin-left: 25px;
}

.barRight {
    position: absolute;
    right: 0;
    background-color: #D9C39A;
    width: 140px;
    height: 5px;
    margin-top: 0;
    margin-right: 25px;
}

.whiteCenter {
    color: white;
    text-align: center;
}

.white--center {

    color: white;
}

/* Tablette */
@media (min-width: 768px) {
    .num__question {
        position: relative;
        padding-top: 114px;

        .numero {
            font-family: 'Italiana', serif;
            color: #D9C39A;
            font-size: 308px;
            opacity: 50%;
            position: absolute;
            margin-left: 35px;
            top: 0;
            padding: 0;
            line-height: 0.4;
        }

        .question {
            position: relative;
            font-size: 32px;
            font-weight: 600;
            color: white;

        }
    }

    .guillemet {
        width: 75px;
        margin-left: 35px;
        fill: #D9C39A;
    }

    .barLeft {
        margin-left: 35px;
    }

    .barRight {
        margin-right: 35px;
    }

}

/*Desktop*/
@media (min-width: 1020px) {
    .div__para {
        display: grid;
        grid-template-columns: 485px 520px;
    }

    .interview {
        background-color: #404040;
        padding-bottom: 65px;
        padding-top: 0px;
        margin-top: -155px;


    }

    .titre__interview {
        color: white;
        text-align: right;
        margin-top: 200px;
        margin-right: 55px;
        margin-bottom: 25px;
    }

    .num__question {
        position: relative;
        padding-top: 114px;

        .numero {
            font-family: 'Italiana', serif;
            color: #D9C39A;
            font-size: 336px;
            opacity: 50%;
            position: absolute;
            margin-left: 35px;
            top: 0;
            padding: 0;
            line-height: 0.4;
        }

        .question {

            font-size: 35px;
            margin-left: 240px;
            margin-top: 50px;

        }


    }

    .guillemet {
        width: 75px;
        margin-left: 240px;
        fill: #D9C39A;
    }

    .white--center {
        margin-left: 240px;
        color: white;
    }
}

@media (min-width: 1280px) {
    .div__para {
        display: grid;
        grid-template-columns: 575px 700px;
    }

    .interview {
        background-color: #404040;
        padding-bottom: 65px;
        padding-top: 0px;
        margin-top: -275px;


    }

    .num__question {
        position: relative;
        padding-top: 114px;

        .numero {
            font-family: 'Italiana', serif;
            color: #D9C39A;
            font-size: 336px;
            opacity: 50%;
            position: absolute;
            margin-left: 145px;
            top: 0;
            padding: 0;
            line-height: 0.4;
        }

        .question {

            font-size: 35px;
            margin-left: 350px;
            margin-right: 100px;
            margin-top: 50px;

        }
    }

    .guillemet {
        width: 75px;
        margin-left: 350px;
        fill: #D9C39A;
    }

    .white--center {
        margin-left: 350px;
        margin-right: 100px;
        color: white;
    }

    .bar__para {
        display: grid;
        grid-template-columns: 175px 930px 195px;
        margin-top: 100px;
    }

    .barLeft {
        margin-left: 35px;
        margin-top: 100px;
    }

    .barRight {
        margin-right: 35px;
        margin-top: 100px;
    }



}

@media (min-width: 1600px) {
    .div__para {
        display: grid;
        grid-template-columns: 845px 690px;
    }

    .interview {
        background-color: #404040;
        padding-bottom: 65px;
        padding-top: 0px;
        margin-top: -315px;


    }

    .bar__para {
        display: grid;
        grid-template-columns: 300px 1000px 300px;
        margin-top: 100px;
    }

    .barLeft {
        margin-left: 85px;
        margin-top: 105px;
    }

    .barRight {
        margin-right: 85px;
        margin-top: 105px;
    }


}

@media (min-width: 1920px) {
    .div__para {
        display: grid;
        grid-template-columns: 1005px 780px;
    }

    .titre__interview {
        color: white;
        text-align: right;
        margin-top: 200px;
        margin-right: 100px;
        margin-bottom: 25px;
    }

    .bar__para {
        display: grid;
        grid-template-columns: 460px 1000px 460px;
        margin-top: 100px;
    }

    .barLeft {
        margin-left: 160px;
        margin-top: 105px;
    }

    .barRight {
        margin-right: 160px;
        margin-top: 105px;
    }

}