body{
    margin: 0 auto;
    
}

/* En général*/
h2{
    font-family:'Italiana', serif;
    font-size: 43px;
    font-weight: 300;
    margin: 0 25px;
    padding-top: 40px; 
}

p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    margin: 0 25px;
    padding: 35px 0;
}

.white{
    color: white;
}

.lien{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: #D9C39A;
    text-decoration: none;
    border: 3px solid;
    border-color: #D9C39A;
    padding: 2px 10px;
    margin: 0 5px 25px 5px;
    
   
}
