.perso {
    background-color: #404040;
    padding-top: 140px;
    padding-bottom: 30px;
    margin-top: 350px;
}

.titre__perso {
    color: #D9C39A;
}


@media (min-width: 768px) {
    .perso {
        padding-top: 100px;
        margin-top: 245px;
    }
}

@media (min-width: 1280px) {
    .perso {
        padding-top: 140px;
        margin-top: -95px;
    }
}

@media (min-width: 1600px) {
    .perso {
        padding-top: 140px;
        margin-top: -105px;
    }
}