/* Section Rencontre*/
.rencontre {
    background-color: white;
    padding-bottom: 35px;
}

.titre__rencontre {
    color: black;
}

/*images*/
.Florence {
    width: 332px;
    height: 466px;
    display: flex;
    margin: 0 auto;

}