.resultat {
    background-color: white;
}

.titre__resultat {
    color: black;
}

.bloc {
    background-color: #D9C39A;
    margin: 40px 15px;
    padding: 10px 5px;
    position: absolute;
}


/*image*/
.chienHeureux {
    width: 340px;
    height: 340px;
    display: flex;
    margin: 0 auto;
}

/*tablette*/
@media (min-width: 768px) {
    .bloc {
        margin: 40px 25px;
        padding: 25px 25px;
    }
}

/*desktop*/

@media (min-width: 1020px) {
    .titre__resultat {
        writing-mode: vertical-lr;
        text-orientation: mixed;
        rotate: 180deg;
        margin-bottom: 130px;
    }

    .resultat__para {
        display: grid;
        grid-template-columns: 165px 430px 420px;
        margin-top: 100px;
    }

    .chienHeureux {
        margin-top: 40px;
    }


}

@media (min-width: 1280px) {
    .resultat__para {
        display: grid;
        grid-template-columns: 195px 655px 430px;
        margin-top: 100px;
    }

    .bloc {
        margin: 40px 305px;
        margin-top: -160px;
        padding: 25px 25px;
        position: relative;
        left: -5%;
        margin-top: -325px;
    }

    .chienHeureux {
        width: 400px;
        height: 400px;

    }
}

@media (min-width: 1600px) {
    .resultat__para {
        display: grid;
        grid-template-columns: 235px 800px 500px;
        margin-top: 100px;
    }

    .chienHeureux {
        width: 500px;
        height: 500px;

    }

    .bloc {
        margin: 40px 455px;
        margin-top: -160px;
        padding: 25px 25px;
        position: relative;
        left: -1%;
        margin-top: -245px;
    }


}