.resultat {
    background-color: white;
}

.titre__resultat {
    color: black;
}

.bloc {
    background-color: #D9C39A;
    margin: 40px 15px;
    padding: 10px 5px;
    position: absolute;
}


/*image*/
.chienHeureux {
    width: 340px;
    height: 340px;
    display: flex;
    margin: 0 auto;
}