.solutions {
    background-color: black;
    padding-bottom: 100px;
}

.titre__solutions {
    color: #D9C39A;
}

.barCenter {
    background-color: #D9C39A;
    width: 140px;
    height: 5px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}





/*images*/
.Chiens {
    width: 318px;
    height: 380px;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 25px;
}

.evenement {
    width: 318px;
    height: 409px;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 25px;
}

@media (min-width: 1020px) {

    .titre__solutions {
        color: #D9C39A;
        padding-top: 100px;
        margin-left: 55px;
        margin-bottom: 25px;
    }

    .barCenter {
        display: none;
    }

    .pic__para {
        display: grid;
        grid-template-columns: 405px 100px 510px;
        margin-top: 50px;
    }

    .bar1 {
        background-color: #D9C39A;
        width: 100px;
        height: 5px;
        margin-top: 240px;
    }

    .bar2 {
        background-color: #D9C39A;
        width: 100px;
        height: 5px;
        margin-top: 240px;
    }

    .pic__para2 {
        display: grid;
        grid-template-columns: 510px 100px 405px;
        margin-top: 50px;
    }
}

@media (min-width: 1280px) {
    .pic__para {
        display: grid;
        grid-template-columns: 490px 100px 690px;
        margin-top: 50px;
    }

    .pic__para2 {
        display: grid;
        grid-template-columns: 670px 100px 510px;
        margin-top: 50px;
    }

    .bar1 {
        background-color: #D9C39A;
        width: 100px;
        height: 5px;
        margin-top: 240px;
        margin-left: -25px;
    }

    .bar2 {
        background-color: #D9C39A;
        width: 100px;
        height: 5px;
        margin-top: 240px;
        margin-left: 25px;
    }




}

@media (min-width: 1600px) {
    .Chiens {
        width: 481px;
        height: 575px;
        display: flex;
        margin: 0 auto;
        margin-top: -35px;
        margin-bottom: 25px;
    }

    .evenement {
        width: 480px;
        height: 619px;
        display: flex;
        margin: 0 auto;
        margin-top: -70px;
        margin-bottom: 25px;
    }

    .pic__para {
        display: grid;
        grid-template-columns: 750px 110px 710px;
        margin-top: 150px;
    }

    .pic__para2 {
        display: grid;
        grid-template-columns: 760px 80px 750px;
        margin-top: 200px;
        margin-left: 20px;
    }

    .bar1 {
        margin-top: 250px;
        margin-left: -40px;
    }

    .bar2 {
        margin-top: 240px;
        margin-left: 40px;
    }



}

@media (min-width: 1920px) {
    .titre__solutions {
        color: #D9C39A;
        padding-top: 100px;
        margin-left: 100px;
        margin-bottom: 25px;
    }

    .pic__para {
        display: grid;
        grid-template-columns: 860px 170px 800px;
        margin-top: 150px;
    }

    .pic__para2 {
        display: grid;
        grid-template-columns: 880px 220px 750px;
        margin-top: 200px;
        margin-left: 30px;
    }

    .bar1 {
        margin-top: 250px;
        margin-left: -40px;
    }

    .bar2 {
        margin-top: 240px;
        margin-left: 110px;
    }


}