.solutions {
    background-color: black;
    padding-bottom: 100px;
}

.titre__solutions {
    color: #D9C39A;
}

.barCenter {
    background-color: #D9C39A;
    width: 140px;
    height: 5px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}





/*images*/
.Chiens {
    width: 318px;
    height: 380px;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 25px;
}

.evenement {
    width: 318px;
    height: 409px;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 25px;
}