/*crédits*/
.bodyCredits {
    background-color: #404040;
}

.header__credits {
    background-color: black;
    padding-bottom: 120px;
}

.titre__credits {
    color: #D9C39A;
}

.credits_liste {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    font-size: 20px;
    list-style: none;
    margin: 25px auto;
    max-width: 80ch;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 35px;

}

.lienCredits {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid;
    margin: 0px 5px;
    transition: color 0.5s, border-color 0.5s;

    &:visited {
        color: lightgrey;
        border-bottom: 2px solid;

    }

    &:hover,
    :focus {
        color: #D9C39A;
        border-bottom: 4px solid;
    }

    &:active {
        color: #D9C39A;
    }
}

@media (min-width: 768px) {
    .credits_liste {
        font-size: 22px;
    }
}

@media (min-width: 1020px) {
    .credits_liste {
        font-size: 24px;
    }
}